/* Général */

* {
    font-family: 'Raleway', "Arial Black", Arial, Verdana, sans-serif;
}

.bold {
    font-weight: bold;
    margin-left: 3px;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

#resultat a {
    text-decoration: none;
    color: black;
}

/* Menu de naviguation */

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    flex-direction: row;
}

#navigation {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-content: center;
}

header {
    display: flex;
}

header nav {
    display: flex;
    margin-right: 0;
}

header ul li {
    display: flex;
}

header img {
    position: relative;
    top: 15px;
    left: 15px;
}

#navigation li {
    color: #0065FC;
    list-style: none;
    padding: 10px 30px;
    border-top: solid 3px #ffffff
}

#navigation li a {
    font-size: 14px;
    text-decoration: none;
    padding-top: 25px;
    margin-right: 20px;
}

#navigation li a:hover {
    color: #f2f2f2;
}

#navigation li:hover {
    border-top: solid 3px #0065FC;

}

.inscrire {
    display: flex;
    font-weight: bold;
    position: relative;
    padding: 32px 0 0 15px;
    top: 16px;
    right:35px;
    border-top: solid 3px #ffffff
}

.inscrire:hover {
    color: #f2f2f2;
    border-top: solid 3px #0065FC;
}

/* Texte de présentation */

.introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
}

.introduction h1 {
    margin-bottom: 0;
}


/* Bouton de recherche */

.barre-recherche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.position {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    text-align: center;
    border: 1px solid #f2f2f2;
    padding: 10px;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    margin-left: 1%;
}

.recherche {
    display: flex;
    font-weight: bold;
    border-left: none;
    border-right: none;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
}

.barre-recherche .rechercheSD {
    display: none;
}

.bouton {
    padding: 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    background-color: #0065FC;
    border-color: #0065FC;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: row;
    width: 80%;
}

/* Filtres */

.logofiltre {
    padding: 11px;
    color: #0065FC;
    background-color: #93baef;
    border-radius: 90%;
}

.filtres {
    display: flex;
    font-weight: bold;
    align-self: center;
    border: solid #ffffff 1px;
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.filtres p:hover {
    color: #93baef;
}

.filtremarseille {
    display: flex;
}

.filtres i {
    position: relative;
    top: 14px;
    left: 20px;
    height: 15px;
}

.filtres p {
    display: flex;
    justify-content: center;
    border: solid 1px #d9d9d9;
    font-size: 14px;
    padding: 10px 15px 10px 25px;
    text-align: center;
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
}

.filtres h2 {
    display: flex;
    font-size: 15px;
    margin: 20px 0 0 2%;
}

.filtremarseille {
    position: relative;
    top: 0;
    left: 0;
}

.familial {
    padding: 11px 13px 11px 13px;
    color: #0065FC;
    background-color: #93baef;
    border-radius: 90%;
}

.info .filtre-info {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 8px 10px 8px 10px;
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 90%;
    font-size: 10px;
    margin-left: 1%;
}

.info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.info p {
    display: flex;
    margin-left: 5px;
}

/* Logements sur Marseille */

#marseille .etoiles {
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 5px;
}

.etoiles {
    color: #d9d9d9;
}

.etoilesb {
    color: #0065fc;
    font-size: 15px;
}


#resultat {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
    padding: 0;
}

#marseille {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    width: 90%;
    padding: 0;
}

#marseille h2 {
    display: flex;
    width: 90%;
    margin: 15px 0 5px 10px;
}

#marseille h3 {
    display: flex;
    font-size: 14px;
    width: 100%;
}

#marseille p {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    width: 80%;
}

#marseille img {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    clip: auto;
    overflow: hidden;
}

#marseille a {
    display: flex;
    border: solid 5px #ffffff;
    margin: 15px 0 0 0;
    width: 40%;
    height: 30%;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
}

.afficher {
    font-size: 18px;
}

/* Les plus populaires */


.iconepopulaire {
    position: relative;
    top: 3px;
    left: 90px;
}

#populaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 0;
    padding-bottom: 20px;
}

#populaire h2 {
    display: flex;
    width: 100%;
    margin-left: 20px;
}

#populaire a .textep {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
    margin: 5px 0 0 10px;
}

#populaire h3 {
    display: flex;
    font-size: 14px;
    width: 95%;
}

#populaire p {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
}

#populaire img {
    display: flex;
    height: 130px;
    min-width: 120px;
    max-width: 120px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    clip: auto;
}

#populaire a {
    display: flex;
    flex-direction: row;
    height: 18%;
    width: 40%;
    border: solid 5px #ffffff;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 0px #f2f2f2;
    margin-left: 15px;
}

/* Activités sur Marseille */

#activite h2 {
    display: flex;
    width: 80%;
    margin-left: 5%;
}

.activite-marseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: 0 0 0 65px;
    padding-bottom: 0;
}

.activite-marseille figure {
    margin-left: 20px;
}


.activite-marseille h3 {
    display: flex;
}

.activite-marseille img {
    display: flex;
    justify-content: start;
    width: 100%;
    max-height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    clip: auto;
}

.elementactivite1 {
    display: flex;
    flex-direction: column;
    width: 95%;
    border: solid 1px #f2f2f2;
    box-shadow: 10px #f2f2f2 unset;
}

.elementactivite2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.elevementdiv1 {
    display: flex;
    flex-direction: column;
    height: 95%;
    min-width: 95%;
    border: solid 1px #f2f2f2;
    box-shadow: 10px #f2f2f2 unset;
}

.elevementdiv2 {
    display: flex;
    flex-direction: column;
    height: 95%;
    min-width: 95%;
    border: solid 1px #f2f2f2;
    box-shadow: 10px #f2f2f2 unset;
}

.elementactivite3 {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    border: solid 1px #f2f2f2;
    box-shadow: 10px #f2f2f2 unset;
}

.elementactivite4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 90%;
}


/* Footer du site */

.footer {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
    flex-direction: row;
    padding-bottom: 10px;
}

footer h2 {
    display: flex;
    font-size: 14px;
    margin-left: 45px;
    font-weight: bold;
    margin-bottom: 2px;
}

footer div {
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
}

footer ul {
    margin-top: 5px;
}

footer li {
    display: flex;
    color: black;
    list-style: none;
    padding: 5px;
}

footer li a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}